.content {
  .content-wrapper {
    margin: 0 auto;
  }
  .type-select {
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    padding: 20px 0;
    .select {
      margin: 0 12px;
    }
    .content-select-wrapper {
      float: left;
      & .select-window {
        width: 90px !important;
      }
    }
    .lottery-select-wrapper {
      float: left;
      margin-left: 60px;
      & .select-window {
        width: 90px !important;
      }
    }
    .issueno-select-wrapper {
      float: left;
      margin-left: 60px;
    }
    & .select-window {
      width: 50px !important;
    }
  }
  .chart-wrapper {
    margin-top: 100px;
    #chart-box {
      margin: 0 auto 40px;
      width: 90%;
      height: 600px;
      box-sizing: border-box;
      border: 1px solid rgb(238, 238, 238);
    }
  }
}
