.dropdown {
  position: relative;
  .dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: -50%;
    // transform: translateX(-50%);
    width: 160px;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #e2e2e2;
    li {
      padding: 2px 8px;
      border-bottom: 1px solid #eee;
      &:last-child {
        border: none;
      }
    }
    #logoutBtn {
      display: block;
      background-color: skyblue;
      color: #fff;
      width: 60px;
      height: 22px;
      line-height: 22px;
      margin: 0 auto;
      text-align: center;
    }
  }
  &:hover .dropdown-list {
    display: block;
  }
}