html {
  scroll-behavior:'smooth';
}

.top-header {
  height: 30px;
  line-height: 30px;
  background-color: #f0f0f0;

  .left {
    float: left;
  }
  .right {
    float: right;
    #userInfo {
      .user-phone {
        display: block;
        height: 100%;
        color: #333;
      } 
    }
  }
}
$light-blue: #409eff;
$light-red: #f33636;
$shadow-bottom: 0 1px 3px rgba(26, 26, 26, 0.1);

nav {
  font-size: 15px;
  background-color: #fff;
  box-shadow: $shadow-bottom;
  .nav-item {
    float: left;
    margin-right: 20px;
    a {
      display: block;
      position: relative;
      height: 50px;
      width: 100px;
      text-align: center;
      line-height: 50px;
      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 0;
        left: 50%;
        bottom: 0;
        transition: all 0.3s;
      }
      &:hover::after {
        background-color: $light-blue;
        width: 100%;
        left: 0;
      }
    }
  }
}

.content {
  padding-top: 30px;
  .outer-wrapper {
    position: relative;
    aside {
      position: absolute;
      width: 160px;
      left: 0;
      top: 0;
      bottom: 0;
      .aside-ad {
        a {
          display: block;
          .ad-item {
            min-height: 160px;
            background-color: #f0f0f0;
            margin-top: 4px;
          }
        }
      }
    }
    main {
      margin-left: 160px;
      min-height: 800px;
      .carousel {
        width: 740px;
        height: 300px;
        background-color: #f0f0f0;
        margin: 0 auto;
      }

      .hot {
        width: 800px;
        margin: 40px auto 0;
        .title {
          font-size: 22px;
          display: inline-block;
          padding: 0 6px;
          line-height: 30px;
          height: 30px;
          border-bottom: 2px solid $light-red;
        }
        .hot-item {
          margin: 20px 0;
          padding: 20px 10px;
          float: left;
          width: 380px;
          border: 1px solid #e2e2e2;
          box-sizing: border-box;
          &:nth-child(1) {
            margin-right: 40px;
          }

          .detail {
            & > span {
              display: inline-block;
              margin: 0 6px;
            }
            .type {
              font-size: 20px;
              font-weight: 500;
            }
          }
          .bonuds {
            margin: 16px 0;
            font-size: 14px;
            .scroll-number {
              display: inline-block;
            }
            span {
              display: inline-block;
              margin: 0 6px;
            }
          }
          .ball-wrapper {
            margin-top: 30px;
            .ball-list {
              float: left;
              margin-left: 6px;
              li.ball {
                display: inline-block;
                width: 24px;
                height: 24px;
                line-height: 24px;
                margin: 0 2px;
                font-size: 16px;
                text-align: center;
                color: #fff;
                border-radius: 50%;
                &.blue {
                  background-color: $light-blue;
                }
                &.red {
                  background-color: $light-red;
                }
              }
            }
            .more-link {
              float: right;
              margin-right: 30px;
              font-size: 13px;
              color: #333;
              a {
                display: inline-block;
                height: 24px;
                line-height: 24px;
              }
            }
          }
        }
      }
      .news {
        width: 800px;
        margin: 20px auto;

        .news-item.news-loading .loading-item {
          display: block;
          width: 200px;
          height: 48px;
          line-height: 48px;
          border: 1px solid #ddd;
          margin: 4px auto;
          text-align: center;
        }
        .news-item > a {
          display: block;
          padding: 12px;
          border-bottom: 1px solid #eee;
          &:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-color: transparent;
          }
          .left {
            float: left;
            img {
              width: 180px;
              height: 120px;
            }
          }
          .right {
            margin-left: 220px;
            .title {
              font-size: 20px;
              line-height: 30px;
              height: 30px;
              position: relative;
              .badge {
                display: inline-block;
                font-size: 12px;
                height: 12px;
                line-height: 12px;
                padding: 4px;
                color: $light-red;
                border: 1px solid $light-red;
                background-color: #fff;
                vertical-align: middle;
                margin-right: 10px;
              }
            }
            .summary {
              margin: 20px 0;
              font-size: 16px;
              color: rgb(102, 102, 102);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .info {
              font-size: 14px;
              color: rgb(102, 102, 102);
              .from {
                float: left;
              }
              .time {
                float: right;
                margin-right: 12px;
                .iconfont {
                  margin-right: 6px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#btnToTop {
  display: none;
  position: fixed;
  right: 150px;
  bottom: 20%;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  z-index: 101;
}
